@model QLNH_TH.Models.tiecModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tiecModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tentiec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tentiec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.khachhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.khachhang.makh)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="matiec" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
