@model QLNH_TH.Models.tiecModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tiecModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tentiec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tentiec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.khachhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.khachhang.makh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.matiec">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
